@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: #0b2038;
	font-family: Helvetica, Arial, sans-serif;
}
.container {
	width: 95%;
	max-width: 1042px;
	margin: 0 auto;
}
.logo_holder {
	margin-top: 45px;
	margin-bottom: 40px;
	float: left;
}
.search_area {
	float: right;
	margin-top: 65px;
	background-color: #FFFFFF;
}
.search {
	float: right;
	width: 260px;
	padding: 10px;
	min-height: 35px;
	background-color: #FFFFFF;
	border: none;
}
.card_txt {
	margin: 15px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #ef3b24;
}
.card_txt h2 {
	font-size: 25px;
	font-weight: bold;
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
	height:50px;
	line-height: 26px;
	margin: 20px 0px;
}
.card_txt a h2{
	margin: 25px 0px;
	height:auto;
}
.card_txt a h3 {
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
}
.card_txt p {
	font-size: 14px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 10px 0px;
	line-height: 16px;
}
.card_dis {
	margin-bottom: 20px;
}
.white_txt {
	color: #FFFFFF;
}
.grey_txt {
	color: #3a3a3a;
}
.left_pannel {
	width: 200px;
	float: left;
}
.mid_pannel {
	width: 606px;
	float: left;
	margin-left:20px;
}
.right_pannel {
	width: 200px;
	float: right;
}
.card {
	width: 199px;
	float: left;
	margin-left: 2px;
	height: 239px;
	margin-top: 2px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.card:hover {
	transform: scale(0.98);
}
.contact {
	float: right;
	margin: 10px;
}
.contact img {
	margin-right: 10px;
}
.clearfix {
	clear: both;
}
.red {
	background-color: #f15a40;
}
.blue {
	background-color: #3ac6f3;
}
.color1 {
	background-color: #2b3e43;
}
.color2 {
	background-color: #757f81;
}
.color3 {
	background-color: #d6e2de;
}
.color4 {
	background-color: #f9f4e9;
}
.color5 {
	background-color: #757f81;
}
.color6 {
	background-color: #757f81;
}
.color7 {
	background-color: #7ac4cf;
}
.color8 {
	background-color: #757f81;
}
.color9 {
	background-color: #bcdabe;
}
.color10 {
	background-color: #454647;
}
.quote h3{
		margin:5px;
		font-weight:normal;
	}

/* -------flip card css------------------ */
/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000px;
	transform-style: preserve-3d;
}
/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.flip-container:hover .front {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}
/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(-180deg);
	background: #f8f8f8;
}
/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	position: relative;
}
.vertical .back {
	transform: rotateX(180deg);
}
.vertical.flip-container:hover .back {
	transform: rotateX(0deg);
}
.vertical.flip-container:hover .front {
	transform: rotateX(180deg);
}
/*--------------end of IE flip------------------------------*/


.flip-container, .front, .back {
	width: 199px;
	float: left;
	border: none;
	height: 239px;
	cursor: pointer;
}
.flip-container {
	margin-top: 2px;
}
.front {
	margin-left: 2px;
}
.back {
	margin-left: 2px;
}
/*--------flip css ends-------*/

.icon_holder {
	height: 75px;
	text-align: center;
	vertical-align: middle;
}
.icon_holder img {
	vertical-align: middle;
	display: inline-block;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Smartphones (portrait and landscape) ----------- */
.left_pannel, .right_pannel, .mid_pannel {
	width: 100%;
	margin: 0 auto;
	float: none;
	overflow: auto;
	margin-top: 30px;
}
.logo_holder {
	margin: 10px auto;
	float: none;
	width: 100%;
}
.search_area {
	float: left;
	width: 90%;
	margin: 0 auto;
	overflow: auto;
}
.search {
	width: 100%;
	float: left;
}
.flip-container, .card {
	width: 49%;
	height: 210px;
}
.flip-container {
	margin-left: 0px;
}
.back, .front {
	width: 99%;
	height: 210px;
}
.card_txt h2 {
	font-size: 22px;
	margin-top: 15px;
	line-height: 22px;
	height: 45px;
}
.icon_holder {
	height: 70px;
}
.icon_holder img {
}
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
/* Smartphones (portrait) ----------- */
.left_pannel, .right_pannel, .mid_pannel {
	width: 90%;
	margin: 0 auto;
	float: none;
	overflow: auto;
	margin-top: 30px;
}
.search_area {
	float: none;
	width: 90%;
	margin: 0 auto;
}
.search {
	width: 90%;
	float: left;
}
.logo_holder {
	margin: 10px auto;
	float: none;
	width: 90%;
}
.flip-container {
	margin-left: 2px;
}
}

@media only screen and (min-width : 768px) and (max-width : 1070px) {
/* iPads (portraitand landscape) ----------- */
.left_pannel, .right_pannel, .mid_pannel {
	width: 90%;
	margin: 0 auto;
	float: none;
	overflow: auto;
	margin-top: 30px;
}
.logo_holder {
	margin: 10px 5%;
	float: left;
	width: 40%;
}
.search_area {
	float: right;
	width: 40%;
	margin: 28px 5% 10px;
}
.search {
	width: 100%;
	float: right;
}
.flip-container {
	margin-left: 0px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* iPads (landscape) ----------- */
.left_pannel, .right_pannel, mid_pannel {
	width: 90%;
	margin: 0 auto;
	float: none;
	overflow: auto;
	margin-top: 30px;
}
.logo_holder {
	margin: 10px 5%;
	float: left;
	width: 40%;
}
.search_area {
	float: right;
	width: 40%;
	margin: 28px 5% 10px;
}
.search {
	width: 90%;
	float: right;
}
.flip-container {
	margin-left: 0px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* iPads (portrait) ----------- */
.left_pannel, .right_pannel, mid_pannel {
	width: 90%;
	margin: 0 auto;
	float: none;
	overflow: auto;
	margin-top: 30px;
}
.logo_holder {
	margin: 10px 5%;
	float: left;
	width: 40%;
}
.search_area {
	float: right;
	width: 40%;
	margin: 28px 5% 10px;
}
.search {
	width: 90%;
	float: right;
}
.flip-container {
	margin-left: 0px;
}
}

@media only screen and (min-width : 1200px) {
/* Desktops and laptops ----------- */

}

@media only screen and (min-width : 1700px) {
/* Large screens ----------- */

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* iPhone 4 ----------- */

}
